body {
  background-color: black;
  color:white;
}


img {
  width: 100%;
}

/* PARA EJERCICIO HTML5 */
.marco-foto {
  height: 50px;
  width: 50px;
  border: 1px solid blue;
}

.photo{
	color: blue;
}

